*{
    margin:0;
    padding: 0; 
    box-sizing: border-box;   
}

html{
    font-size: 62.5%;
}
body{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body h1{
    font-size: 4.2rem;
    color: blueviolet;
}
h2{
    font-size: 2.8rem;
}
p{
    font-size: 1.8rem;
}
.cabecera{
    background-color: cornflowerblue;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: floralwhite;
}
    